<div class="content-wrapper bg-white" style="min-height: 916px;">

    <!-- Main content -->
    <section class="content">
        <!--<div class="box">-->
        <ul class="nav nav-pills nav-justified bg-aqua">
            <!--Input By Form -->
            <li class="active"><a data-toggle="pill" href="#inputForm">Nhập
                Thông Tin Sinh Viên</a></li>
            <!--Import Excel -->
            <li><a data-toggle="pill" href="#importExcel">Import File
                Excel</a></li>
        </ul>

        <div class="tab-content my-border">
            <div id="inputForm" class="tab-pane fade in active">
                <div class="panel-group">

                </div>
            </div>

            <!--Excel File-->
            <div id="importExcel" class="tab-pane fade">
                <!--THONG TIN SINH VIEN-->
                <form  method="POST" enctype="multipart/form-data" action="/staff/upload-student-finance-information">
                    <div class="col-lg-6 col-sm-6">
                        <h4>Import Thông Tin Tài Chính Sinh Viên</h4>

                        <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse&hellip; <input type="file"
                                                      name="file"
                                                      multiple="true"/>
                            </span>
                        </span>
                            <input type="text"
                                   class="form-control"
                                   readonly="true"/>
                        </div>
                    <span class="help-block">
                        Try selecting one or more files and watch the feedback
                    </span>
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>

                    </div>
                    <div class="col-md-3 col-xs-3">
                        <input type="submit" value="Import"
                               class="btn btn-primary"
                               style="margin-top: 40px;"/>
                    </div>
                </form>


            </div>
        </div>
        <!-- /.col -->
        <!--</div>-->
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>