<div class="content-wrapper" style="min-height: 916px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Học Phí Dự Kiến
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-10 col-md-offset-1">

                <div class="box">

                    <!--<table th:replace="table :: table"></table>-->

                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">STT</th>
                            <th>Mã</th>
                            <th>Mô Tả</th>
                            <th style="width: 40px">Số Tiền</th>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>PhiNH</td>
                            <td>
                                Bình thường, đóng học phí đầy đủ
                            </td>
                            <td>4,400,000</td>
                        </tr>

                        <tr>
                            <td>2.</td>
                            <td>ENG1</td>
                            <td>
                                Tiếng Anh 1
                            </td>
                            <td>9,900,000</td>
                        </tr>

                        <tr>
                            <td>3.</td>
                            <td>ENG2</td>
                            <td>
                                Tiếng Anh 2
                            </td>
                            <td>4,400,000</td>
                        </tr>

                        <tr>
                            <td>4.</td>
                            <td>CN1</td>
                            <td>
                                Chuyên Ngành 1
                            </td>
                            <td>24,200,000</td>
                        </tr>

                        <tr>
                            <td>5.</td>
                            <td>CN2</td>
                            <td>
                                Chuyên Ngành 2
                            </td>
                            <td>24,200,000</td>
                        </tr>

                        </tbody>
                    </table>



                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>