<div class="content-wrapper" style="min-height: 916px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Xem Lãi Vay
        </h1>
       <!-- <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-10 col-md-offset-1">
                <div class="box">

                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">Ngày</th>
                            <th>Nội Dung</th>
                            <th>Học Phí</th>
                            <th>Thực Nộp</th>
                            <th>Vay</th>
                            <th>Check</th>
                            <th>Ghi Chú</th>
                        </tr>

                        <tr>
                            <td>06/07/2015</td>
                            <td>ENG3</td>
                            <td>9,166,960</td>
                            <td>4,622,500</td>
                            <td>4,622,500</td>
                            <td>21,045</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>06/07/2015</td>
                            <td>ENG3</td>
                            <td>9,166,960</td>
                            <td>4,622,500</td>
                            <td>4,622,500</td>
                            <td>21,045</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>06/07/2015</td>
                            <td>ENG3</td>
                            <td>9,166,960</td>
                            <td>4,622,500</td>
                            <td>4,622,500</td>
                            <td>21,045</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>06/07/2015</td>
                            <td>ENG3</td>
                            <td>9,166,960</td>
                            <td>4,622,500</td>
                            <td>4,622,500</td>
                            <td>21,045</td>
                            <td></td>
                        </tr>



                        </tbody>
                    </table>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>